{
  "extension": [
    ".js",
    ".ts"
  ],
  "include": [
    "lib/index.js"
  ],
  "exclude": [
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/export-template.*",
    "node_modules"
  ],
  "reporter": [
    "text",
    "html",
    "lcov",
    "json"
  ],
  "report-dir": "./coverage",
  "temp-dir": "./.nyc_output",
  "all": true,
  "check-coverage": false
}
